.footer-container{
    position: relative;
    background: #414066;
}
.footer-container hr{
    border:1px solid var(--white);
}
.footer{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 12rem;
}
.socail-links{
    display: flex;
    gap: 2rem;
}
.socail-links img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.logo-f img{
    width: 10rem;
} 